<!-- /views/index.ejs -->
<!doctype html>

<head>
  <link rel="stylesheet" href="dist/style.min.css">
</head>
<body>
  <div class="main">
    <%- reactOutput %>
  </div>
  <script src="dist/app.min.js"></script>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56d5bd5c418f434b"></script>
</body>
